@import "reset.css";
@import "components/no-mobile.css";
body {
    margin:8px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.status-bar {
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}
.status-bar__column {
    width: 50%;
}
.status-bar__column:first-child span{
    margin-right: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full {
    margin: 0px 3px;
}
.welcome-header {
    margin-top: 90px;
    text-align: center;
}
.welcome-header__title {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
}
.welcome-header__text {
    justify-content: center;
    color: gray;
    opacity: 0.8;
}
.welcome-header__text:last-child {
    margin-bottom: 90px;
}
.login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
} 
.login-form input{
    padding: 15px 0px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.login-form::placeholder {
    color: black;
    opacity: 0.4;
}
.login-form input:last-child {
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    opacity: 1;
    background-color: rgba(75, 75, 75, 0.5);
    padding: 20px 0px;
}
#login-form__button:focus {
    background-color: yellow;

}
a {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
}